*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 0 1rem;
  font-family: 'jost',sans-serif; }

.section {
  background-color: #eee; }

.header__logo {
  display: flex;
  flex-direction: column;
  height: 105vh;
  width: auto;
  position: relative;
  align-items: center;
  background-image: radial-gradient(circle, rgba(131, 148, 240, 0.809961) 14%, rgba(32, 133, 218, 0.913603) 54%, rgba(26, 105, 198, 0.885592) 95%), url("../img/header-img.jpg");
  background-size: cover; }
  @supports (clip-path: polygon(50% 0%, 100% 0, 100% 78%, 50% 100%, 50% 100%, 0 83%, 0 0)) {
    .header__logo {
      clip-path: polygon(50% 0%, 100% 0, 100% 78%, 50% 100%, 50% 100%, 0 83%, 0 0); } }

.header__text {
  font-size: 14.75rem;
  letter-spacing: 0.8rem;
  color: #fff;
  margin-top: 30vh;
  font-weight: 1000;
  text-shadow: -3px -3px 20px rgba(221, 221, 221, 0.66); }

.header__desc {
  font-size: 3.5rem;
  color: #eee;
  margin-top: -3rem;
  letter-spacing: 1.1rem;
  font-weight: 400; }

.el {
  width: 100%;
  height: 50rem;
  background: radial-gradient(circle, rgba(131, 148, 240, 0.809961) 14%, rgba(32, 133, 218, 0.913603) 54%, rgba(26, 105, 198, 0.885592) 95%);
  clip-path: polygon(50% 100%, 100% 50%, 85% 85%, 50% 100%, 15% 85%, 0 50%);
  -webkit-clip-path: polygon(50% 100%, 100% 50%, 85% 85%, 50% 100%, 15% 85%, 0 50%); }

.cta {
  width: auto;
  padding-top: 40vh;
  margin-top: -30vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .cta__content {
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding: 5rem;
    height: 110vh; }
  .cta__photo-container {
    width: 50vw;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: stretch; }
  .cta__heading {
    font-size: 4rem;
    color: #000; }
  .cta__text {
    font-size: 1.5rem; }
  .cta__image {
    height: 10rem;
    display: block; }
    .cta__image > img {
      width: 20rem; }

@font-face {
  font-family: 'jost';
  src: url("../fonts/jost.ttf") format("truetype");
  /* Safari, Android, iOS */ }
