
.header{
  
    &__logo{
        display: flex;
        flex-direction: column;

        height: 105vh;
        width: auto;
        position: relative;
        
       // justify-content: center;
       align-items: center;
        background-image: 
        radial-gradient(circle, rgba(131,148,240,0.8099614845938375) 14%, rgba(32,133,218,0.9136029411764706) 54%, rgba(26,105,198,0.8855917366946778) 95%),
        url('../img/header-img.jpg');
         background-size: cover;
         
        @supports(clip-path: polygon(50% 0%, 100% 0, 100% 78%, 50% 100%, 50% 100%, 0 83%, 0 0)){
             clip-path: polygon(50% 0%, 100% 0, 100% 78%, 50% 100%, 50% 100%, 0 83%, 0 0);
        }
    }

    &__text{
        font-size: 14.75rem;
        letter-spacing: 0.8rem;
        color: #fff;
        margin-top: 30vh;

        font-weight: 1000;
        text-shadow:  -3px -3px 20px rgba(221,221,221,0.66);
    }
    &__desc{
        font-size: 3.5rem;
        color: #eee;
        margin-top: -3rem;
        letter-spacing: 1.1rem;
        font-weight: 400;
    }
}

